<<<<<<< HEAD
[defaults]
inventory = hosts.ini
host_key_checking = False
=======
[defaults]
inventory = hosts.ini
host_key_checking = False
>>>>>>> 9e00e5408e903fa2f0cb3268c1c4a837affd9c2d
remote_user = dandi